body {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  /*background-color: #BCAAA4;*/
  -webkit-font-smoothing: antialiased;
}





.alwaysontop{
	position: fixed;
    z-index: 999;
}

.horizontal-center {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -5%);
  transform: translate(-50%, -5%);
}





.hidescrollbarmenu{
  overflow-x: hidden;
  overflow-y: auto;
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.hidescrollbarmenu::-webkit-scrollbar {

  display: none;  /* others i guess? */
}

.navmenu nav {
  background-color: rgba(0, 0, 0, 0.8);
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  
 
}
.navmenu nav ul {
  margin-top: 130px;
  padding: 0px 0px 0px 0px !important;
  width: 100%;
  
}



.navmenu nav ul li {
  transform: translateY(50px);
  opacity: 0;
  list-style-type: none !important;


}
.navmenu nav ul li a {
  font-family: 'Roboto Mono', monospace ;
  font-size: 42px !important;
  font-size: 3em;
  text-decoration: none !important;
  margin-top: 30px;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  margin-top: 10px;
  margin-left: -50px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  
  
}


.centertext{


  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align:middle;
  width: 500px;

}



.container123{
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.navmenu nav ul li a:hover {
  color: #E84A5F;
}	



.toggle-btn {
  display: block;
  position: fixed;
  z-index: 10;
  right: 35px;
  top: 10px;
  cursor: pointer;
  
  
}
.toggle-btn .bar {
  width: 40px;
  height: 3px;
  margin: 9px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  
}
.toggle-btn .bar:nth-child(2) {
  width: 20px;
}

#toggle:checked ~ nav {
  opacity: 1;
  visibility: visible;
  z-index:2;
}
#toggle:checked ~ nav ul {
  top: 70px;
}
#toggle:checked ~ nav ul li {
  transform: translateY(0px);
  opacity: 1;

}
#toggle:checked ~ nav ul li:nth-child(1) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
#toggle:checked ~ nav ul li:nth-child(2) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
#toggle:checked ~ nav ul li:nth-child(3) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
#toggle:checked ~ nav ul li:nth-child(4) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
#toggle:checked + label.toggle-btn .bar {
  background-color: red;
}
#toggle:checked ~ nav ul li:nth-child(5) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.5s;
}
#toggle:checked ~ nav ul li:nth-child(6) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.6s;
}
#toggle:checked ~ nav ul li:nth-child(7) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.7s;
}
#toggle:checked ~ nav ul li:nth-child(8) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.8s;
}
#toggle:checked ~ nav ul li:nth-child(9) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.9s;
}
#toggle:checked ~ nav ul li:nth-child(10) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1s;
}
#toggle:checked ~ nav ul li:nth-child(11) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.1s;
}
#toggle:checked ~ nav ul li:nth-child(12) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.2s;
}
#toggle:checked ~ nav ul li:nth-child(13) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.3s;
}
#toggle:checked ~ nav ul li:nth-child(14) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.4s;
}
#toggle:checked + label.toggle-btn .bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}
#toggle:checked + label.toggle-btn .bar:nth-child(1) {
  transform: translateY(14px) rotate(48deg); /* rechts */
}
#toggle:checked + label.toggle-btn .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}






/* The navigation bar */
.navbarmenu {
  overflow: hidden;
  position: sticky !important; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 99;
  height: 60px;
  background: rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(225,225,225,0.5);
}

/* Links inside the navbar */
.navbarmenu a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   text-decoration: none !important;
   margin-left: 9px !important;
}

.navbarmenu a:hover { 
  color: #000000;
}

.navbarmenu h1 {
  color: #000;
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
    font-family: "Raleway";
  font-size: 24px;
  right: 0%;
  margin: 7px;
}

.transition2 {
  margin-top: 100px;
  transform: translateY(-600px);
  transition: all 1.2s ease-in-out;
  }
