{% comment %} it is the parent template. login and about inherit the characteristica of base {% endcomment %}
{% load static %}
{% load templatehelpers %}
{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">


  
  <title>Startseite</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <title>Startseite</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  </head>
<body>
 
<style>html{visibility: hidden;opacity:1;}</style>



<!------------------------------------------------ FILTER ---------------------------------------------->

<head>
 
  
  <!------------------------------------------------ FILTER ---------------------------------------------->

  <header class="navmenu">

  <input type='checkbox' id='toggle2' style='display:none;' />
  <label id="kategoriebutton" class='toggle2-btn toggle2-btn__cross horizontal-center' style=" font-weight: bold;  margin-top: 42px; width: 155px; height: 40px;"  for='toggle2'>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </label>
   <nav class="hidescrollbarmenu">
    <ul>

	  <li><a href="?title=lakes&body=&date=&author=">Lakes</a></li>
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Home</a></li>
    <li><a href="#">Home</a></li>
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Home</a></li>
    <li><a href="#">Home</a></li>
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Home</a></li>

    </ul>
  </nav>
</header>

 




</body>




  <script  src="{% static 'books/filter.js' %}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{% static 'books/cart.js' %}"></script>

</body>
</html>
  <!------------------------------------------------ FILTER ---------------------------------------------->


</head>
<body>
<html>
  <head>
  
  </head>
  <body>

    <div id="header" class="filter move-top" >
   
        <button class="btn btn-outline-info" style="margin-top: 115px;" onclick="suchfensteroeffnen()">Erweiterte Suche</button>
      
      <div class="container-cadastro center">
        <fieldset>
            <div class="container-cadastro-campo">
            <form method="get">
                {{ filtered_books.form.as_p }}           
         <!----- <legend>Suchen</legend>------>
       
    </div>
    <div style="text-align:center;">
          <button input type="submit" value="Press" class="btn btn-outline-info" style="font-weight: bold; margin-top:20px;" onclick="">Suchen</button>
        </form>
        <button class="btn btn-outline-info" style="font-weight: bold; margin-top:20px;" onclick="suchfensterschließen()">Beenden</button>
      </div>  
        
    



        </fieldset>
      </div>
	     </div>
<!------------------------------------------------ FILTER ---------------------------------------------->

<body>



  <noscript>
  <style type="text/css">
    .pagecontainer {display:none;}
</style>
<div class="noscriptmsg">
<h1>Please enable Javascript to enjoy the full experience of OnlineBib</h1>
</div>
</noscript>



<body>
<!-- partial:index.partial.html -->
<h1 class="title">Wähle dein Buch</h1>
<div id="app" class="containercards">
  {% if books_page_obj %}
    {% for Book in books_page_obj|dictsort:"title" %}
    <a href="products?title={{Articles.title.lower}}&id={{Articles.id}}">
    <card data-image="https://bilder.buecher.de/produkte/61/61256/61256841n.jpg">
    <h1 slot="header">{{Book.title}}</h1>
    <p slot="content">{{Book.book_author}}</p>
          {% if Book.isavailable %}
    <h2 slot="content">NICHT VERFÜGBAR</h2>
    
          {% else %} <!---- Else    if all_articels  ----->
          {% endif %} <!---- End    if XY in articles.title  ---->
    </card>
    </a>
   
    {% endfor %}
   
<!-- PAGINATION START ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
<!--
  Copyright (c) 2021 by Béla Varga (https://codepen.io/netzzwerg/pen/hfutI)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->


<div class="containerpagination xsmall">

<div class="pagination">
  {% if books_page_obj.has_previous %}
  <li><a href="{% relative_url books_page_obj.previous_page_number 'page' request.GET.urlencode %}"slot="content">ZURÜCK</a></li>
  {% endif %}
  <li class="active"><a href="">{{books_page_obj.number}}/{{books_page_obj.paginator.num_pages}}</a></li>
  <li><a  href="{% relative_url i 'page' request.GET.urlencode %}" slot="content">i / {{books_page_obj.paginator.num_pages}}</a></li> 

  {% if books_page_obj.has_next %}
  <li><a href="{% relative_url books_page_obj.next_page_number 'page' request.GET.urlencode %}" slot="content">WEITER</a></li>
  {% else %}
  <li><a href="{% relative_url 1 'page' request.GET.urlencode %}"slot="content">SEITE 1</a></li>
  {% endif %}
</div>
</div>
</div>




<!-- PAGINATION END ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
  {% else %}
  <a href="products?title={{Articles.title.lower}}&id={{Articles.id}}">
    <card data-image="https://pixabay.com/get/g66dfbcfa607ee706626a93efc23470ebdd74fada04973735fb1ca320313299a1cf088fe5e9276e333b4f6408cf01c7d239d1206ac27bafd7efe5fa98b4f11f70_1280.png">
      <h1 slot="header">404</h1>
      <p slot="content">Book not found</p>
    </card>
    </a>
  {% endif %}







</div>

<!-- partial -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700'><link rel="stylesheet" href="{% static 'books/OnlineBib.css' %}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js'>
</script><script  src="{% static 'books/script.js' %}"></script>

</body>
</html>
