{% comment %} it is the parent template. login and about inherit the characteristica of base {% endcomment %}
{% load static %}
{% load save_var %}
{% include 'header.html' %}
{% include 'alerts.html' %}
{% load templatehelpers %}





<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>{{stud.title}}</title>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{% static 'books/cart.js' %}"></script>
  <script  src="{% static 'books/products.js' %}"></script>
  

</head>
<body>

	<style>  
	html {
	visibility: hidden;
		opacity: 1;
	}</style>

<!-- partial:index.partial.html -->

<!------ Include the above in your HEAD tag ---------->

	

		<div class="container containerProduct center textstyle">

	        <div class="heading-section">
	            <h2></h2>
	        </div>
	        <div id="changeclass1" class="row" >

	        	<div>
							<div id="app" class="productcards">
  <card data-image="{{currentbook.book_img.url}}">
    <!--<h1 slot="header">{Lakes}</h1>-->
    <!--<p slot="content">testauthor</p>-->
  </card>
  </div>
	        		
	        	</div>
	        	<div id="changeclass2" class="col-md-6">
	        		<div class="product-dtl">
        				<div class="product-info ">
		        			<div class="product-name" style="text-align: center">
								<h1>{{currentbook.title}}</h1>
							</div>

		        			<div class="product-price-discount"><span><!--39€.00--></span><span class="line-through"><!--$18€.00--></span></div>
		        		</div>
	        			<p>{{currentbook.description}}</p>

						<!--<form action="#" method="POST">
							<a href="?title=harry%20potter&id=3&borrowed=true" type="submit" id='ausleihen'  name="mybtn2" class="round-black-btn" onclick="showalert('✓ {{currentbook.title}} wurde ausgeliehen',1)">{{currentbook.title}}: Band: {{currentbook.part}} ausleihen</a></input>
						</form>-->
<!--				   
{% if showalert == 123 %}
<div class="alert alert-success mdi mdi-star" style="text-align: center;" role="alert">
	<strong>Well done!</strong> Du hast Buch XY erfolgreich ausgeliehen!
	<form action="" method="POST">{% csrf_token %}						
		<input  type="hidden" class="round-black-btn"  name="buch[]" value="{{currentbook.id}}">
		<input  type="hidden" class="round-black-btn"  name="buch[]" value="1">
		<a href=""  style="color:red;" onclick="document.forms[0].submit();return false; ">Rückgängig?</a>
		</form>
</div>
{% endif %}

{% if showalert == 2 %}
<div class="alert alert-fail mdi mdi-star" role="alert">
	<strong>Achtung!</strong> Du hast dieses Buch schon ausgeliehen!
</div>
{% endif %}
-->	

{% if currentbook.isavailable == False %}
<div class="alert alert-fail mdi mdi-star" style="text-align: center;" role="alert">
	{% for Order in orderdata|dictsort:"return_date" %}
	{% if Order.books.id == currentbook.id %}
	{% if forloop.first %}
	<strong>Zurzeit nicht Verfügbar! - vorraussichtlich verfügbar ab</strong>
	<h1 style = "margin-top: 10px;">{{Order.return_date}}</h1>
	{% endif %}
	{% endif %}
	{% endfor %}
</div>
{% endif %}





			                 {% for Order in orderdata %}
							 {% if user.id == Order.users.id %}
							 {% if Order.books.id == currentbook.id %}
							 <!-- Anfang - Buch schon ausgeliehen Meldung-->		 
							 <a href="profilweiterleitung"  class="round-black-btn">Bearbeiten - Rückgabe: {{Order.return_date}}</a></input>
							 <!--<h3 style="text-align: center; margin-top: 15px; font-weight:bold">Rückgabe bis zum: {{Order.return_date}}</h3>-->
							 <!-- Ende   - Buch schon ausgeliehen Meldung-->
							 {% define 1 as counter %}
							 {% else %}
							 
							 {% endif %}
							 {% endif %}
							 {% if forloop.last %}
							 {% if counter != 1 %}
							    {% if user.is_authenticated %}
							   		 <form action="#" method="POST">{% csrf_token %}
										
										{{form}}						
									 <input  type="hidden" class="round-black-btn"  name="buch[]" value="{{currentbook.id}}">
									  <!--<input  type="hidden" class="round-black-btn"  name="buch[]" value="0">-->
									 <a href="#" class="round-black-btn" onclick="document.forms[0].submit(); localStorage.setItem('alerted','yes'); return false; ">{{currentbook.title_small}} - Band: {{currentbook.part}} ausleihen</a>
									 </form>
							 		 
							         {% else %}
							         <a href="{% url 'login' %}" class="round-black-btn">{{currentbook.title_small}}: Band: {{currentbook.part}} ausleihen</a></input>
							        
							         {% endif %}
								{% define 1 as counter %}
							 {% else %}	
							 {% endif %}
							 {% endif %}
							 {% empty %}
						     {% if user.is_authenticated %}
							 <form action="" method="POST">{% csrf_token %}						
							 <input  type="hidden" class="round-black-btn"  name="buch[]" value="{{currentbook.id}}">
							 <!--<input  type="hidden" class="round-black-btn"  name="buch[]" value="0">-->
							 <a href="" class="round-black-btn" onclick="document.forms[0].submit(); localStorage.setItem('alerted','yes');return false; ">{{currentbook.title_small}} - Band: {{currentbook.part}} ausleihen</a>
							 </form>
							 {% else %}
							 <a href="{% url 'login' %}" class="round-black-btn">{{currentbook.title}}: Band: {{currentbook.part}} ausleihen</a></input>
							 {% endif %}
							
							 {% endfor %}

						 
							








							
	        		</div>
	        	</div>
	        </div>
	        <div class="product-info-tabs">
		        <ul class="nav nav-tabs"id="myTab" role="tablist">
					<li class="nav-item" >
				    	<a class="nav-link active" style="color:black; font-weight: bold; background: white;" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="true">Details</a>
				  	</li>
				  	<li class="nav-item" >
						  
				    	<a class="nav-link"style="color:Black; font-weight: bold; background: white;" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Vorschau</a>
						  
				  	</li>
					  <li class="nav-item" >
				    	<a class="nav-link"style="color:Black; font-weight: bold; background: white;" id="commonbooks-tab" data-toggle="tab" href="#commonbooks" role="tab" aria-controls="commonbooks" aria-selected="false">Ähnliche Bücher</a>
				  	</li>
					

				</ul>
				
				<div class="tab-content" id="myTabContent">
				  	<div class="tab-pane fade" style="color:black;" id="description" role="tabpanel" aria-labelledby="description-tab">
						<div class="review-heading" style="color:black; margin-bottom: 20px; text-underline-position: under;text-decoration: underline;">
							Vorschau:
						</div>
						<p>{{currentbook.description}}<p>
							{% if currentbook.preview == '0' %}
							
							{% else %}
							<a href="{{currentbook.preview}}" target="_blank" rel="noopener noreferrer" class="round-black-btn">Vorschau</a>
							{% endif %}

					</div>

					<div class="tab-pane fade show active" style="color:black; font-weight: bold; font-size: 20px;" id="review" role="tabpanel" aria-labelledby="review-tab">
						<div class="review-heading" style="color:black; margin-bottom: 20px; text-underline-position: under;text-decoration: underline;">
							Weitere Details zum Buch:
						</div>
						<ul>
						<li>Autor: <a href="../?title=&year=&author={{currentbook.book_author}}&isavailable=" style="color: rgb(11, 11, 97); text-decoration: underline; font-weight: bold;">{{currentbook.book_author}}</a></br></li>
						<li>Band: {{currentbook.part}}</br>	  </li> 
						<li>Seiten: {{currentbook.pages}}</br>	  </li> 
					    <li>Veröffentlichung: {{currentbook.year}}</br>	</li>
						<li>Genre: <a href="../?genre={{currentbook.genre}}" style="color: rgb(11, 11, 97); text-decoration: underline; font-weight: bold;">{{currentbook.genre}}</a></br>	</li>
						<li>Verfügbar: {{currentbook.quantity}} - (Nur für Produktion oder Admin?)</br>	</li>
						<li>Altersempfehlung: ab {{currentbook.age}} Jahren </br>	</li>
						<li>Sprache: {{currentbook.language}}</br>	</li>
						<li>Ausleihdauer: {{currentbook.ausleihtage}} Tage</br>	</li>
					</ul>
					</br>
				
					   
							  </div>
						 

						  <div class="tab-pane fade" style="color:black; font-weight: bold; font-size: 20px;" id="commonbooks" role="tabpanel" aria-labelledby="commonbooks-tab">
							<div class="review-heading" style="color:black; margin-bottom: 20px; text-underline-position: under;text-decoration: underline;">
								Ähnliche Bücher:
							</div>
						
					
							</br>
							<div class="commonbooks">
								<ul>
							{% for Book in all_articels %}
							{% if currentbook.title_small in Book.title_small %}
							{% if currentbook.id == Book.id %}
							
							{% else %}
						
							<li><a href="?title={{Book.title}}&id={{Book.id}}" style= "color: darkblue;">{{Book.title}}</a></li>
							{% define 1 as counter2 %}
							{% endif %}
							{% endif %}
							{% if forloop.last %}
							{% if counter2 != 1 %}
							Keine Ähnlichen Bücher vorhanden
							{% endif %}
							{% endif %}
							{% endfor %}
						</ul>
						    </div>
								  </div>
							  </div>



					

			
    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- partial -->


<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js'></script><script  src="{% static 'books/books.js' %}"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  
</body>
</html>



{% if status == 'success' %}
<script type="text/javascript">
	
    var alerted = localStorage.getItem('alerted') || '';
    if (alerted == 'yes') {
		showalert('Du hast das Buch: {{currentbook}} ausgeliehen',1,"{{currentbook.id}}")
     localStorage.setItem('alerted','no');
    }
	
</script>
{% endif %}

{% if status == 'failed' %}
<script type="text/javascript">
	
    var alerted = localStorage.getItem('alerted') || '';
    if (alerted == 'yes') {
		showalert('{{currentbook}}',2,"{{currentbook.id}}")
     localStorage.setItem('alerted','no');
    }
	
</script>
{% endif %}

{% if status == '4' %}
<script type="text/javascript">
	
    var alerted = localStorage.getItem('alerted') || '';
    if (alerted == 'yes') {
		showalert('{{currentbook}}',4,"{{currentbook.id}}")
     localStorage.setItem('alerted','no');
    }
	
</script>
{% endif %}

{% if status == '5' %}
<script type="text/javascript">
	
    var alerted = localStorage.getItem('alerted') || '';
    if (alerted == 'yes') {
		showalert('{{currentbook}}',5,"{{currentbook.id}}")
     localStorage.setItem('alerted','no');
    }
	
</script>
{% endif %}

<style>  
	html {
	visibility: visible;
		opacity: 1;
	}</style>