{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<title>Title</title>
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'books/filter.css' %}">
    <script  src="{% static 'books/filter.js' %}"></script>
    


    <!------------------------------------------------ FILTER ---------------------------------------------->


</head>
<body>
<html>
  <head>
  
  </head>
  <body>

    <div id="header" class="filter move-top" >
   
        <button class="btn btn-outline-info" style="margin-top: 115px;" onclick="habilitaContainerCadastro()">Erweiterte Suche</button>
      
      <div class="container-cadastro center">
        <fieldset>
            <div class="container-cadastro-campo">
            <form method="get">
                {{ filtered_books.form.as_p }}           
         <!----- <legend>Suchen</legend>------>
       
    </div>
          <button input type="submit" value="Press" class="btn btn-outline-info" style="font-weight: bold;" onclick="salvarFilme()">Suchen</button>
        </form>
        <button class="btn btn-outline-info" style="font-weight: bold;" onclick="desabilitaContainerCadastro()">Beenden</button>
        
    



        </fieldset>
      </div>
	     </div>
<!------------------------------------------------ FILTER ---------------------------------------------->

    
    
  {% if filtered_books %}
    {% for Articles in filtered_books.qs %}
    <h2>
        {{Articles.title}}
        <br>
        {{Articles.body}}
        <br>
        {{Articles.date}}
        <br>
        {{Articles.author}}
        <br>
        {{Articles.isavailable}}
        <br>
    </h2>
    {% endfor %}
    {% else %}
  <h3>You dont have any Articels</h3>
    {% endif%}
</body>
</html>