{% extends 'account/base.html' %}

{% block content %}
   <h1>About us</h1>
    Wir freuen uns sehr das du uns besuchst.
    Wir sind Johannes, Christoph, Kevin und Majd.
    Wir studieren Informatik an der Hochschule Augsburg und freuen und auf dein Feedback an:
    Johannes.nowack@hs-augsburg.de
{% endblock content %}



{% comment %} <!DOCTYPE html>
<html lang="en">
<head>    
    {% if title %}
        <title>Django-Blog - {{title}} </title>
    {% else %}
        <title>Django-Blog </title>
    {% endif %}
</head>
<body>
</body>
</html>  {% endcomment %}