{% comment %} it is the parent template. login and about inherit the characteristica of base {% endcomment %}
{% load static %}
   <!---------------------------------------------NAVBAR------------------------------------------------------------------------------->
  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700'><link rel="stylesheet" href="{% static 'account/header.css' %}">

   <div class="navbar2">
   
   
       <title>Startseite</title>
     <h1><a href="{% url 'about-site' %}">OnlineBib</a></h1>
   
   <header class="navmenu">
       
     <input type='checkbox' id='toggle' style='display:none;' />
     <label id="menubutton" class='toggle-btn toggle-btn__cross' for='toggle'>
       <div class="bar"></div>
       <div class="bar"></div>
       <div class="bar"></div>
     </label>
     <nav class="hidescrollbarmenu" >
    
       <ul>	 
           {% comment %} {% block route %}{% endblock route %}{% endcomment %}
           {% if user.is_authenticated %}       
           <li><a href="{% url 'items-site' %}">Meine Bücher</a></li>
           <li><a href="books">Home</a></li>
           <li><a href="{% url 'profile' %}">Profile</a></li> 
           <li><a href="{% url 'logout' %}">Logout</a></li>
           {% else %}
           <li><a href="books">Home</a></li>
           <li><a href="{% url 'login' %}">Login</a></li> 
           <li><a href="{% url 'register-site' %}">Register</a></li>
           {% endif %} 
         <li><a href="{% url 'about-site' %}">About</a></li> 
         <li><a href="#">FAQ</a></li>
       </ul>
     
     </nav>
   </header>
   {% comment %} {% block route %}{% endblock route %}{% endcomment %}
   
   </div>
       <!---------------------------------------------NAVBAR------------------------------------------------------------------------------->
