
{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{% static 'books/cart.js' %}"></script>

{% block title %}
    Anmelden 
{% endblock %}

{% block route %}



    <a class="nav-item nav-link " href="{% url 'register-site' %}">Registrieren</a>
{% endblock route %}

{% block content %}

   <div class="content section centertext" style="width: 250px;">
    <form method="POST" >
        
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Melden Sie sich an:</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-gorup">
            <button class="btn btn-outline-info" type="submit">Anmelden</button>
        </div>
    </form>
    <div class="border-top" pt-3>
        <small class="text-muted">
            Sie wollen sich Registrieren? <a class="ml-2" href="{% url 'register-site' %}">Regstrieren</a>
        </small>
    </div>
   </div>

{% endblock content %}

