{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Benutzerdaten
{% endblock %}

{% block route %}
    <a class="nav-item nav-link"</a>
{% endblock route %}
<strong>rendered as bold text</strong>

{% block content %}
<div class="glasscontainer addpadding">
    <div class="content-selection">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                    <ul class="list-inline">
                        <li><strong>Email: </strong>{{user.email}}</li>
                        <li><strong>Vorname: </strong>{{user.first_name}}</li>
                        <li><strong>Nachname: </strong>{{user.last_name}}</li>
                    </ul>
            </div>
        </div>
        <!--- FORM HERE -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group" >
                <legend class="border-bottom mb-4 ">Profil-Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
            </fieldset>
            <div class="form-gorup">
                <button class="btn btn-outline-info"  type="submit">Aktualisieren</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


