{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
        Registrierung
{% endblock %}

{% block route %}
    <a class="nav-item nav-link" href="{% url 'login-site' %}">Anmelden</a>
{% endblock route %}



{% block content %}

   <div class="content section centertext"style="width: 350px; font-weight: bold; font-size: 17px margin-top:50px;" >
    <form method="POST" >
        {% csrf_token %}
        <fieldset class="form-group" >
            <legend class="border-bottom mb-4 ">Registrieren Sie sich:</legend>
                {{ form|crispy }}
        </fieldset>
        <div class="form-gorup">
            <button class="btn btn-outline-info"  type="submit">Registrieren</button>
        </div>
    </form>
    <div class="border-top">
        <small class="textlogin">
            Bereits Regestriert? <a class="ml-2" style="font-weight: bold; font-size: 15px" href="{% url 'login-site' %}">Anmelden</a>
        </small>
    </div>
   </div>





{% endblock content %}