{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
        Registrierung
{% endblock %}

{% block route %}
    <a class="nav-item nav-link" href="{% url 'login-leer' %}">Anmelden</a>
{% endblock route %}



{% block content %}
<div class="glasscontainer addpaddinglogin" style="margin-top: 0px !important;">
   <div class="content section centertext registerwidth"style="font-weight: bold; font-size: 17px;" >
    <form method="POST" >
        {% csrf_token %}
        <fieldset class="form-group registerhinttext" >
            <legend class="border-bottom mb-4 ">Registrieren Sie sich:</legend>
                {{ form|crispy }}
        </fieldset>
        <div class="form-gorup registerhinttext">
            <button class="btn btn-info"  type="submit">Registrieren</button>
        </div>
    </form>
    <div class="border-top">
        <small class="textlogin">
            Bereits Regestriert? <a class="ml-2" style="font-weight: bold; font-size: 15px" href="{% url 'login-leer' %}">Anmelden</a>
        </small>
    </div>
   </div>
   </div>





{% endblock content %}