


main {
  padding: 10px;
  
}
main .wrap {
  padding: 40px 20px;
  background-color: #fff;
}
main .title {
  font-size: 2em;
  text-align: center;
  margin: 20px auto 40px;
  text-transform: uppercase;

  
}



.hidescrollbarmenu{
  overflow-x: hidden;
  overflow-y: auto;
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hidescrollbarmenu::-webkit-scrollbar {

  display: none;  /* others i guess? */
}

.navmenu nav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  line-height: 300%;
 
}
.navmenu nav ul {
  margin-top: 130px;
  display: block;
  width: 100%;
}



.navmenu nav ul li {
  transform: translateY(50px);
  left: 50%;
  opacity: 0;

}
.navmenu nav ul li a {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 42px !important;
  display: block;
  font-size: 3em;
  text-decoration: none !important;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  
}
.navmenu nav ul li a:hover {
  color: #E84A5F;
  
}	



.toggle-btn {
  display: block;
  position: fixed;
  z-index: 10;
  right: 35px;
  top: 10px;
  cursor: pointer;
  
  
}
.toggle-btn .bar {
  width: 40px;
  height: 3px;
  margin: 9px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  
}
.toggle-btn .bar:nth-child(2) {
  width: 20px;
}

#toggle:checked ~ nav {
  opacity: 1;
  visibility: visible;
  z-index:2;
}
#toggle:checked ~ nav ul {
  top: 70px;
}
#toggle:checked ~ nav ul li {
  transform: translateY(0px);
  opacity: 1;

}
#toggle:checked ~ nav ul li:nth-child(1) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
#toggle:checked ~ nav ul li:nth-child(2) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
#toggle:checked ~ nav ul li:nth-child(3) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
#toggle:checked ~ nav ul li:nth-child(4) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
#toggle:checked + label.toggle-btn .bar {
  background-color: red;
}
#toggle:checked ~ nav ul li:nth-child(5) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.5s;
}
#toggle:checked ~ nav ul li:nth-child(6) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.6s;
}
#toggle:checked ~ nav ul li:nth-child(7) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.7s;
}
#toggle:checked ~ nav ul li:nth-child(8) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.8s;
}
#toggle:checked ~ nav ul li:nth-child(9) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.9s;
}
#toggle:checked ~ nav ul li:nth-child(10) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1s;
}
#toggle:checked ~ nav ul li:nth-child(11) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.1s;
}
#toggle:checked ~ nav ul li:nth-child(12) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.2s;
}
#toggle:checked ~ nav ul li:nth-child(13) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.3s;
}
#toggle:checked ~ nav ul li:nth-child(14) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.4s;
}
#toggle:checked + label.toggle-btn .bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}
#toggle:checked + label.toggle-btn .bar:nth-child(1) {
  transform: translateY(14px) rotate(48deg); /* rechts */
}
#toggle:checked + label.toggle-btn .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* ------ */



.toggle2-btn {
  display: block;
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.toggle2-btn .bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.toggle2-btn .bar:nth-child(2) {
  width: 20px;
}

#toggle2:checked ~ nav {
  opacity: 1;
  visibility: visible;
  z-index:2;
}
#toggle2:checked ~ nav ul {
  top: 70px;
}
#toggle2:checked ~ nav ul li {
  transform: translateY(0px);
  opacity: 1;
}
#toggle2:checked ~ nav ul li:nth-child(1) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
#toggle2:checked ~ nav ul li:nth-child(2) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
#toggle2:checked ~ nav ul li:nth-child(3) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
#toggle2:checked ~ nav ul li:nth-child(4) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
#toggle2:checked ~ nav ul li:nth-child(5) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.5s;
}
#toggle2:checked ~ nav ul li:nth-child(6) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.6s;
}
#toggle2:checked ~ nav ul li:nth-child(7) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.7s;
}
#toggle2:checked ~ nav ul li:nth-child(8) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.8s;
}
#toggle2:checked ~ nav ul li:nth-child(9) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.9s;
}
#toggle2:checked ~ nav ul li:nth-child(10) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1s;
}
#toggle2:checked ~ nav ul li:nth-child(11) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.1s;
}
#toggle2:checked ~ nav ul li:nth-child(12) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.2s;
}
#toggle2:checked ~ nav ul li:nth-child(13) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.3s;
}
#toggle2:checked ~ nav ul li:nth-child(14) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.4s;
}
#toggle2:checked ~ nav ul li:nth-child(15) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.5s;
}
#toggle2:checked ~ nav ul li:nth-child(16) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.6s;
}
#toggle2:checked ~ nav ul li:nth-child(17) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.7s;
}
#toggle2:checked ~ nav ul li:nth-child(18) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.8s;
}
#toggle2:checked ~ nav ul li:nth-child(19) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 1.9s;
}
#toggle2:checked ~ nav ul li:nth-child(20) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 2s;
}
#toggle2:checked + label.toggle2-btn .bar {
  background-color: red;
}
#toggle2:checked + label.toggle2-btn .bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}
#toggle2:checked + label.toggle2-btn .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
#toggle2:checked + label.toggle2-btn .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}





/* The navigation bar */
.navbar {
  overflow: hidden;
  position: fixed !important; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 99;
  height: 60px;
  background: rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(225,225,225,0.5);
}

/* Links inside the navbar */
.navbar a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  text-decoration:underline;
}

.navbar a:hover { 
  color: #000000;
}

.navbar h1 {
  color: #000;
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 24px;
}



.myalert.aktiv {
  opacity: 1;
  padding: 20px 50px 20px;
  transition: all 1.2s ease-in-out;
  
  }

.myalert {
    position: relative;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-align: center;    
    transition: all 1.2s ease-in-out;
    overflow: hidden;
    opacity: 0;
    font-size: 16px;
}

.myalert-success {
color: green;
background-color:  rgb(36, 35, 35,40%);
border-color:  rgb(36, 35, 35,100%);
}

.myalert strong{
font-weight: bolder;
}

