

.container {
  background: transparent;
  margin: 20rem;
  margin-top: 50px;
  border-radius: 0.2rem;
  position: relative;
  /*box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);*/
  align-items: center;
  font-weight: bold;
}
.container:after {
  clear: both;
  content: "";
  display: table;
}
.container ul {
  width: 100%;
}




.xsmall {
  width: 65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  

  
}

.xsmall ul, li {


  padding-left: 5px;
}



.xsmall li:hover a {
  color: black;
  background-color: white;
  border: solid 1px white;
}
.xsmall li.active a {
  color: black;
  background-color: white;
  border: solid 1px white;
}
.xsmall li:first-child {
  float: left;
}
.xsmall li:first-child a:after {
  content: "Previous";
}

.xsmall li:last-child {
  float: right;
}
.xsmall li:last-child a:after {
  content: "Next";
}
.xsmall li a {
  border: solid 1px #d7d7d7;
  border-radius: 0.2rem;
  color: #7d7d7d;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}



.xsmall li {
  display: none;
}
.xsmall li.active {
  display: inline;
}
.xsmall li:first-child {
  display: inline;
 
}
.xsmall li:first-child a:after {
  content: "";
}
.xsmall li:last-child {
  display: inline;
}
.xsmall li:last-child a:after {
  content: "";
}